.nav-link:hover {
    color: #FF5733;
}

.fa-cust:hover {
    font-size: 2em;
    transition: 0.3s ease-out;
    color: #FF5733 !important;
}

.color-light-black {
    background-color: #101010;
}

.color-orange {
    color: #FF5733;
}

.color-green {
    color: #33ff74;
}

.color-purple {
    color: #c233ff;
}

.color-blue {
    color: #338bff;
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler-icon::before {
    font-family: FontAwesome;
    font-size: xx-large;
    color: white;
    /* bars-staggered */
    content: "\f550";
}

.color-off-white {
    color: #E2DFD2;
}

.btn-bd-orange {
    --bs-btn-color: white;
    --bs-btn-bg: #FF5733;
    --bs-btn-hover-color: #E2DFD2;
    --bs-btn-hover-bg: #ff5833c5;
}